@{
    ViewData["Title"] = "Home Page";
}
    <style>
        body {
            background-color: coral;
        }
    </style>
    <div class="text-center">
        <h1 class="display-4"  >Welcome to Registration</h1>
        <label>Choose one of the following from the above index:</label>
        <div> Students OR Courses</div>
       
        <div align="center" style="color:lightyellow">
            Hello
            <p style="color:lightyellow">
     This is Registration System. Here , Student is registered along with courses he/she would like to study.
    It also displays a lot of other information like the grade, studentID, age and much more information
    Not only this, other function like creating, deleting , viewing can also be performed</p>
</div>

        <footer align="bottom">
            <div>AVTAR SINGH</div>
            <div>200429775</div>
            <div>Server-Side-Side Scripting ASP.NET </div>
            <div>Comp-2084</div>
        </footer>
    </div>
